@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fontlibrary.org/face/minecraftia');

body {
  @apply bg-gray-900;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 50;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.toast.fade-in {
  opacity: 1;
}

.toast-link {
  color: #1e90ff;
  margin-left: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}

.toast-link:hover {
  color: #1c86ee;
}
